<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentorsJoy"
        tools:targetApi="31">
        <activity
            android:name=".view.additionalActivities.RoChoice.ConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.RoChoice.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.RoChoice.RunningActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.RoChoice.UsageActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.RoChoice.RoCheckActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TPChoice.TPChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.MethodsActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.TestActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.RequirementsDocActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.RequirementsProgActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.TargetActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PMIChoice.PmiCheckActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.TestActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.FuncActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.TechActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.UsageActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.TzCheckActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.TZChoice.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PZChoice.UsageActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PZChoice.ExpectedActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PZChoice.TechActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PZChoice.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".view.additionalActivities.PZChoice.PZCheckActivity"
            android:exported="false" />
        <activity
            android:name=".view.basicActivities.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".view.basicActivities.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.basicActivities.GenerationActivity"
            android:exported="false" />
        <activity
            android:name=".view.basicActivities.ChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.basicActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>